<div class="row">
    
    <div class="col-md-12">
        <br>
        <h2>Students<a href="/students/add" class="btn btn-success float-right">Add New Student</a></h2>
        
        <hr />
        <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Student&nbsp;Num</th>
                <th>Full&nbsp;Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Course ID</th>
            </tr>
            </thead>
            <tbody>
            {{#each students}}
                <tr>
                    <td >{{studentNum}} <button class="btn btn-danger" text="remove" href="students/delete/studentNum"></button></td>
                    <td ><a href="/student/{{studentNum}}">{{firstName}} {{lastName}}</a><button class="btn btn-danger" text="remove" href="students/delete/studentNum"></button></td>
                    <td ><a href="mailto:{{email}}">{{email}}</a><button class="btn btn-danger" text="remove" href="students/delete/studentNum"></button></td>
                    <td >{{addressStreet}} {{addressCity}} {{addressProvince}}<button class="btn btn-danger" text="remove" href="students/delete/studentNum"></button></td>
                    <td >{{status}}<button class="btn btn-danger" text="remove" href="students/delete/studentNum"></button></td>
                    <td ><a href="/students?course={{course}}">{{course}}</a><button class="btn btn-danger" text="remove" href="students/delete/studentNum"></button></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        </div>
    </div>
    {{#unless students}}
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>